*,
*:after,
*::before {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}

p {
    margin: 0;
    color: #FFFFFF;
}

.body {
    width: 1366px;
    height: 768px;
    background-image: url("../img/background.png");
    background-color: black; /*если не загрузиться картинка, хотя не уверен что такое надо*/
    position: absolute;

    font-family: Roboto;
}

.header-section {
    position: relative;
    left: 160px;
    top: 45px;

    width: 1028px;
    height: 60px;

    display: flex;
}

.milan-holydays {
    width: 160px;
    height: 60px;   
}

.milan-logo {
    width: 53px;
    height: 47px;
    background-image: url("../img/logo\ 3.png");
}


.milan-holydays p{
    text-transform: uppercase;
    font-style: bold;
}

.milan-holydays:hover .milan-logo {
    background-image: url("../img/logo\ 2.png");
}

.milan-holydays:hover .milan {
    color: #F26522;
    ;
}

.milan-holydays:hover .holidays {
    color: #F26522;
}

.milan-logo {
    float: left;
    margin-right: 8px;
    margin-top: 3px;
}

.milan {
    font-size: 29px;
}

.holidays {
    font-size: 18px;
}

.contacts {
    position: absolute;
    left: 810px;  
}

.site {
    margin-bottom: 20px;
}

.site:hover{
    color: #F26522;
}

.phone-number:hover {
    color: #F26522;
}

.site, .phone-number {
    font-size: 18px;
    text-align: end;
}

.middle-section .tours {
    width: 1030px;
    height: 560px;

    margin-left: 160px;
    margin-top: 70px;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.tours__item {
    width: 300px;
}

.item__name {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.copyright {
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
}

.tours__info:hover .item__name {
    color: #F26522;
}

.tours__general {
    background-size: 300px 220px;
    width: 300px;
    height: 220px;

    position: relative;
}

.tours-shopping {
    background-image: url("../img/tours/image.png");
}

.sightseeing-tours {
    background-image: url("../img/tours/image3.png");
}

.food-tours {
    background-image: url("../img/tours/image5.png");
}

.bars-nightlife {
    background-image: url("../img/tours/image2.png");
}

.art-architecture {
    background-image: url("../img/tours/image4.png");
}

.walking-tours {
    background-image: url("../img/tours/image6.png");
}

.tours-shopping:hover .details {
    visibility: visible;
}

.sightseeing-tours:hover .details {
    visibility: visible;
}

.food-tours:hover .details {
    visibility: visible;
}

.bars-nightlife:hover .details {
    visibility: visible;
}

.art-architecture:hover .details {
    visibility: visible;
}

.walking-tours:hover .details {
    visibility: visible;
}

.details {
    width: 100%;
    height: 55px;
    background-color: #F26522;

    position: absolute;
    top: 75%;

    visibility: hidden;
}

.details__text {
    margin: 7px 16px 12px 16px;
}

.from {
    font-size: 11px;
}

.priсe {
    font-size: 20px;
    display: inline-block;
}

.view-details {
    font-size: 14px;
    display: inline-block;
    position: absolute;
    right: 40px;
    bottom: 14px;
    
}

.arrow {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #FFFFFF;
    position: absolute;
    right: 17px;
    bottom: 17px;
}

.arrow-orange {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #F26522;
    position: absolute;
    right: 19px;
    bottom: 17px;
}

